body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #37354c;
    height: 100vh;
    font-family: arial;
    overflow  : hidden;
}
.calculator{
    background-color: black;
    padding: 30px;
    border-radius: 10px;
    width: 260px;
    box-shadow: 0 13px 15px rgba(233, 237, 240, 0.5);
}
.box{
    height: 60px;
    width: 100%;
    font-size:26px ;
    margin-bottom: 15px;
    text-align: right;
    padding-right: 10px;
    border: none;
    border-radius: 6px;
    color: rgb(21, 18, 18);
    
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:13px;
    
}
.zero{
    display: grid;
    grid-column-start:1;
    grid-column-end:3;
    padding-top: 20px;
    
    
}
button{
    height: 60px;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    

}
button:hover{
    opacity: 0.8;
}
.oprator{
    color: white;
    background-color: orange;
}
.eqval{
    color: white;
    background-color: green;
}
.clear{
    color: white;
    background-color: red;
    font-size: 15px;
    font-weight: bold;

    
}
